@use "variables" as *;

header {
  background: $clr-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px #0000000d;
}

#logo {
  color: $clr-primary;
  font-weight: 700;
  font-size: 2rem;
}
.search-cart {
  display: flex;
  align-items: center;
  gap: 1rem;
}
input[type="text"] {
  background: $clr-light-gray;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  width: 150px;
}
.cart {
  i {
    font-size: 1.5rem;
  }
}
