// @use "reset";
@use "variables" as *;
@use "header";
@use "footer";
@use "cart";

body {
  margin: 0;
  background: $clr-background;
  font-family: "Segoe UI", sans-serif;
  //   color: $clr-primary-text;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;

  p {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
    position: relative;
    animation: pulse 1.5s infinite;
  }
}
